Header h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.795);
    color: rgba(255, 255, 255, 0.815);
    padding: 0.9rem 0.5rem;
    text-transform: capitalize;
    border-top-right-radius: var(--global-border-radius);
    border-top-left-radius: var(--global-border-radius);
}